.nav-bar {
  position: sticky;
}
.nav-spacer {
  flex: 1 1 auto;
}

.shopping-cart-sidenav {
  padding: 20px;
  width: 35%;
  height: 120vh;
}

.items-car {
  color: lightcoral;
}

@media (max-width: 1300px) {
  .shopping-cart-sidenav {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .shopping-cart-sidenav {
    width: 90%;
  }
}

