<mat-toolbar>
  <button class="example-icon" aria-label="Example icon-button with menu icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>MyStore</span>
  <span class="example-spacer"></span>

  <button class="example-icon favorite-icon" (click)="toggleSideBar.toggle()" type="button"
    aria-label="Example icon-button with heart icon" mat-button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
    <sup class="items-car">{{ itemsCount }}</sup>
  </button>
</mat-toolbar>

<!-- Side bar itself -->
<mat-drawer class="shopping-cart-sidenav" #toggleSideBar mode="side">
  <!-- Side bar content -->
  <shopping-car></shopping-car>
</mat-drawer>
