<div class="product-item-container">


  <div class="product">
    <picture>
      <img src="https://www.beatsbydre.com/content/dam/beats/web/product/headphones/studiopro-wireless/global/serp/studiopro-pdp-global-serp-black.jpg" alt="">
    </picture>
    <h3>Item name</h3>
    <h3>pice</h3>
    <button mat-icon-button>
      <mat-icon>
        close
      </mat-icon>
    </button>
</div>


<div class="product">
  <picture>
    <img src="https://www.beatsbydre.com/content/dam/beats/web/product/headphones/studiopro-wireless/global/serp/studiopro-pdp-global-serp-black.jpg" alt="">
  </picture>
  <h3>Item name 2</h3>
  <h3>pice</h3>
  <button mat-icon-button>
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>
</div>
