<div class="shopping-cart-container">
  <h1 class="shopping-cart-title">shopping car</h1>

  <div class="product-item-container">

    <!-- When the car its empty -->
    <ng-container *ngIf="carItems.length === 0;  else carElements">
      <h1>No hay elementos en la cesta</h1>
    </ng-container>

    <ng-template #carElements>

      <ng-container *ngFor="let item of carItems" #content>
        <shopping-item
        [carItems]="item"
        (carItemToDelete)="deleteItem($event)"
        >
      </shopping-item>
      </ng-container>

    </ng-template>

  </div>
  <h2>Total: {{ total }}$</h2>
  <button  mat-flat-button class="shop-button">
    <mat-icon>shop</mat-icon>
    Comprar
  </button>
</div>

